<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @primary_topic.name %>
</p>

<%= link_to 'Edit', edit_primary_topic_path(@primary_topic) %> |
<%= link_to 'Back', primary_topics_path %>
